.sign-in{
max-width: 330px;
padding: 15px;
margin:0 auto;
}

#title {
	color: red;
	font-size: 80px;
	font-family: arial;
	text-align: center;
}

#container {
	height: auto; 
	margin-top: 0px;
	margin-left: 50px;
	margin-right: 150px;
	margin-bottom: 0px;
	padding: 0px; 
	background: white;
	font-family: arial;
	font-size: 24px;
} 

	#container a {
		color: black;
		text-decoration: none;
	}

	#container a:hover{
		color: black;
		text-decoration: none;
		cursor: pointer;
	}    
#sidebarleft{
	width: 150px;
}
#sidebarleft button{
	width: 100px;
	float: left;
	margin: 5px;
	display: block;
	text-decoration: none;
}

#Body {
	color: black;
	font-size: 18px;
	font-family: arial;
	text-align: center;
}

#Body button{
	width: 200px;
	text-align: center;
}
#Error{
	text-align: center;
	background: red;
}

#Reserve{
	display:inline;	
}

#Account {
	color: black;
	font-size: 16;
	font-family: arial;
	list-style: none;
	text-align: center;
	border-top: 1px;
}

/*.navlinks li{
	margin: 0px 30px 0px 0px;
	list-style-type: none;
	display: inline; 
	font-size: 24px;
	font-family: arial;
	color: black; 
}

	.navlinks a {
		float: left;
		display: inline;
		margin: 0px 30px 0px 0px;
		color: black;
		text-decoration: none;
	}
	.navlinks li:hover{
		color:gray;
	}*/

#button ul{
	/*display: inline;*/
	height:auto;
	padding: 6px 3px;
	margin: 10px;
	text-align: center;
}

#button li{
	float: left;
	display: inline;
	margin-left: 10px;
	width: 160px;
	height: 50px;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 20px;
	font-family: arial;
	text-align: center;
}

#button a{
	float:left;
	text-decoration: none;
	/*display: inline;*/
}

#button a:hover{
		color: gray;
		text-decoration: none;
		cursor: pointer;
	}       
